html {
  box-sizing: border-box;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

.ember-light-table {
  border: 1px solid #cfd7df;
  border-radius: 4px 4px 0 0;
  box-shadow: none;
  background: #fff;
  border-collapse: collapse;
  word-break: break-word;
  overflow: visible;
  width: 100% !important;
  position: relative;
}

.ember-light-table table {
  table-layout: fixed;
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: middle;
}

.ember-light-table thead.lt-head {
  background-color: #f5f7f9;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  z-index: 999;
}

.ember-light-table thead.lt-head th.lt-column {
  border-bottom: 1px solid #cfd7df;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  height: 48px;
  padding: 0 16px;
  text-align: left !important;
  text-transform: capitalize;
}

table thead.lt-head th.lt-column.po-number-header {
  border-right: 1px solid #cfd7df;
  padding-right: 16px !important;
}

.ember-light-table tbody.lt-body tr.lt-row:not(.is-selected):not(.selected) {
  background-color: #fff;
}

.ember-light-table tbody.lt-body tr.lt-row:not(:last-child) {
  border-bottom: 1px solid #ebeff3;
}

.ember-light-table tbody.lt-body tr.lt-row {
  height: 48px;
}

.ember-light-table tbody.lt-body tr.lt-row td.lt-cell:first-child {
  padding-right: 0;
  padding-left: 16px;
}

.ember-light-table tbody.lt-body tr.lt-row td.lt-cell {
  color: #12344d;
  height: 48px;
  font-size: 14px;
  padding: 0 16px;
  border-right: 1px solid transparent;
  vertical-align: middle;
}

.ember-light-table tbody.lt-body tr.lt-row:not(.is-selected):not(.selected):hover {
  background-color: #f5f7f9;
}

.ember-light-table tbody.lt-body select:not(:disabled) {
  border: 1px solid #7b8e9f;
}
ul {
  margin-top: 8px;
  list-style: none;
}

.item-field-label {
  display: block;
  line-height: 21px;
  margin: 0;
  width: 100%;
  font-size: 14px;
  color: #475867;
  font-weight: 700;
}
.item-field-label .colon {
  float: none;
  font-style: normal;
  line-height: 21px;
}
.item-field-value {
  white-space: pre-line;
  word-break: break-word;
  display: block;
  line-height: 21px;
  margin: 0;
  width: 100%;
}

.requested-item-fields {
  padding: 0;
}
