html {
  box-sizing: border-box;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

#formCreate {
  display: block;
  margin-bottom: 70px;
}

.bottom {
  display: flex;
  gap: 20px;
  justify-content: end;
  position: fixed;
  bottom: 0;
  right: 8px;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 100%;
}
