html {
    box-sizing: border-box;
}

*,
*:after,
*::before {
    box-sizing: inherit;
}

.app-body {
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    padding: 1rem;
}

fw-button {
    display: none;
}
