$background: #12174e;
$primary: #2579ff;
$text_primary: #31373f;
$text_secondary: #6e7d8e;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
*,
::after,
::before {
  box-sizing: border-box;
  outline: none;
}
* {
  font-family: "Poppins", sans-serif;
}
// body {
//   font-family: "Poppins", sans-serif;
//   letter-spacing: 0;
//   color: #fff;
//   padding: 0;
//   margin: 0;
//   overflow-x: hidden;
//   z-index: 0;
//   position: relative;
// }

#page-main {
  background: #fff;
}

.custom-container {
  h2.heading {
    color: #31373f;
    font-family: "Poppins", sans-serif;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  h6.sub-title {
    color: #6e7d8e;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  p {
    font-family: "Poppins", sans-serif;
    margin: 0;
  }
  ol,
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
    }
  }
  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }
  input[placeholder] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .button {
    border-radius: 0.25rem;
    background: $primary;
    color: #fff;
    font-family: "Poppins", sans-serif;
  }

  .max2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .show-on-mobile {
    display: none;
  }

  .hide-on-mobile {
    display: block;
  }

  .text-center {
    text-align: center;
  }

  .search-form {
    position: relative;

    width: 300px;
    input {
      border-radius: 4px;
      border: 1px solid #a9b1bb;
      background: #fff;
      padding: 14px 40px 14px 16px;
      width: 100%;
      font-family: "Poppins", sans-serif;
    }

    .icon {
      position: absolute;
      right: 14px;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
    }
  }
}

.flex-center {
  display: flex;
  align-items: center;
  gap: 10px;
}

header {
  // &#header-main {
  //   background-color: $background;
  //   padding: 0 202px;
  //   min-height: 100px;
  // }
  .custom-container {
    min-height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 202px;
    position: relative;
    z-index: 10;
    background-color: $background;
    .logo {
      height: 30px;
      img {
        width: auto;
        height: 100%;
      }
    }
    .user {
      display: flex;
    }
    .username {
      color: #fff;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    input {
      display: none;
    }
    .nav {
      display: flex;
      align-items: center;
      &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 0;
      }
      &__link {
        color: #fff;
        font-size: 0.8125rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        &.active,
        &:hover {
          color: $primary;
          border-bottom: solid 2px $primary;
        }
      }
      &__bar-btn {
        display: none;
        cursor: pointer;
      }
      &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.2);
        display: none;
      }
    }
    .nav__mobile {
      z-index: 2;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 260px;
      padding: 24px;
      background-color: #fff;
      transform: translateX(100%);
      transition: all 0.4s ease-in-out;
      &-list {
        margin-top: 50px;
        li:not(:first-child) {
          margin-top: 40px;
        }
        a.active {
          color: #2579ff;
          font-weight: 600;
          border-bottom: solid 2px #2579ff;
        }
      }
      &-link {
        color: $text_primary;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      &-btn {
        display: flex;
        align-items: center;
        color: $text_primary;
        gap: 8px;
        font-size: 15px;
        cursor: pointer;
      }
      .login-section {
        margin-top: 50px;
      }
    }
    .nav__input {
      &:checked {
        & ~ .nav__mobile {
          transform: translateX(0);
        }
        & ~ .nav__overlay {
          display: block;
        }
      }
    }
    .login-section {
      display: flex;

      .btn-login {
        padding: 11px 26px;
      }
    }
  }
}

main.custom-container {
  max-width: none;
  min-height: calc(100vh - 56px);
  margin: auto;
  .hero-banner {
    background-color: $background;
    margin-top: -100px;
    text-align: center;
    position: relative;
    padding-top: 200px;
    padding-bottom: 80px;
    color: #fff;

    h1 {
      color: #fff;
      font-size: 42px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin: 0;
    }
    h6 {
      color: #fff;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 0;
    }
    #search-form {
      position: relative;
      width: 623px;
      max-width: 100%;
      margin: 50px auto 0;

      input {
        width: 100%;
        border-color: transparent;
        height: 62px;
        padding: 19px 24px;
        padding-right: 110px;
        color: #6e7d8e;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-family: "Poppins", sans-serif;
      }
      button {
        cursor: pointer;
        position: absolute;
        right: 6px;
        top: 50%;
        transform: translateY(-50%);
        padding: 15px 23px;
        border: none;
        z-index: 2;
      }
    }
    .tags {
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-top: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 7px;
      .tag-list {
        display: flex;
        gap: 15px;

        a {
          color: #fff;
          border-radius: 4px;
          background: #292e69;
          padding: 3px 8px;
        }
      }
    }
  }
  .functions {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0 100px;
    .function-list {
      display: flex;
      gap: 21px;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 80px;
      .item {
        padding: 45px 40px;
        border-radius: 10px;
        max-width: 338px;
        height: 326px;
        display: flex;
        flex-direction: column;
        &:nth-child(3n-2) {
          background: #fff3f7;
          box-shadow: 0px -4px 0px 0px #fda1c2;
        }

        &:nth-child(3n-1) {
          background: #fff4dc;
          box-shadow: 0px -4px 0px 0px #f2c568;
        }

        &:nth-child(3n) {
          background: #e5f1ff;
          box-shadow: 0px -4px 0px 0px #b1d5ff;
        }

        .image {
          padding: 10px;
          width: 60px;
          height: 60px;
          background-color: #fff;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        h6 {
          margin-top: 20px;
          color: $text_primary;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        p {
          margin-top: 8px;
          color: $text_secondary;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        a {
          margin-top: auto;
          color: $primary;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
        }
      }
    }
  }
  .sub-header {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .services {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 170px;

    .sr-container {
      margin: 0 auto;
      padding: 50px 180px;
      display: flex;
      gap: 35px;
      .sr-categories {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 336px;
        border-radius: 4px;
        background: #eef1f6;
        padding: 36px 24px;
        li {
          padding: 14px 24px;
          border-radius: 4px;
          font-weight: 400;
          color: $text_primary;
          display: flex;
          align-items: center;
          gap: 12px;
          cursor: pointer;
          svg {
            flex-basis: 30px;
            width: 24px;
            height: 24px;
          }
          &.active,
          &:hover {
            background: #fff;
            font-weight: 600;
          }

          &:not(:first-child) {
            margin-top: 10px;
          }
        }
      }
      .sr-categories-mobile {
        margin-left: -20px;
        margin-right: -20px;
        padding: 12px 20px;
        background: #eef1f6;
        color: $text_primary;
        overflow-x: scroll;
        display: none;
        gap: 20px;

        li {
          max-width: 150px;
          flex: 0 0 auto;
          display: flex;
          align-items: start;
          gap: 4px;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;

          &.active {
            border-radius: 4px;
            background: #fff;
            font-weight: 600;
            padding: 6px 12px;
            margin: -6px 0;
          }
        }
      }
      select {
        width: 100%;
        height: 40px;
        border-radius: 4px;
        border: solid 1px $text_secondary;
        color: #6e7d8e;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      .sr-list-container {
        width: 100%;
        h3 {
          color: #31373f;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        .sr-list-items {
          margin-top: 20px;
          display: flex;
          gap: 45px;
          flex-wrap: wrap;

          .item {
            flex: 0 45%;
            display: flex;
            gap: 20px;

            .image {
              flex: none;
              width: 78px;
              height: 78px;
              background-color: #fff;
              color: $text_primary;
              border-radius: 50%;
              filter: drop-shadow(0px 4px 8px rgba(110, 125, 142, 0.2));
              display: flex;
              align-items: center;
              justify-content: center;

              svg {
                width: 40px;
                height: 40px;
              }
            }
            h4 {
              color: $text_primary;
              font-size: 18px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
            p {
              margin-top: 10px;
              color: $text_secondary;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }
      }
    }
  }
  .solutions {
    background: #f6f8f9;
    padding-top: 100px;
    padding-bottom: 100px;
    .solution-container {
      max-width: 1440px;
      padding: 0 130px;
      display: flex;
      gap: 70px;
      margin: 0 auto;
      margin-top: 80px;
      .articles {
        width: 100%;
        max-height: 500px;
        overflow: auto;
        .item {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;
          border-radius: 8px;
          background: #fff;
          box-shadow: 0px 4px 8px 0px rgba(110, 125, 142, 0.2);
          color: $text_primary;
          padding: 22px 32px;
          position: relative;
          .icon-end {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 26px;
          }
          &:hover {
            background: $text_secondary;
            color: #fff;
          }
          &:not(:first-child) {
            margin-top: 20px;
          }
        }
      }
      .solution-categories {
        height: 500px;
        overflow: auto;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 300px;
        border-radius: 8px;
        background: #fff;
        padding: 30px 24px;
        li {
          color: $text_primary;
          font-family: "Poppins" sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 100%;
          padding: 14px 24px;
          border-radius: 4px;
          cursor: pointer;
          svg {
            color: #2579ff;
          }
          &.active,
          &:hover {
            color: #fff;
            background: #3817e3;
            svg {
              color: #fff;
            }
          }
          &:not(:first-child) {
            margin-top: 10px;
          }
        }
      }
      .solution-categories-mobile {
        select {
          width: 100%;
          height: 40px;
          border-radius: 4px;
          border: solid 1px $text_secondary;
          color: #6e7d8e;
          text-align: center;
          font-family: "Poppins", sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
      .sr-categories-mobile {
        margin-left: -20px;
        margin-right: -20px;
        padding: 12px 20px;
        background: #eef1f6;
        color: $text_primary;
        overflow-x: scroll;
        display: none;
        gap: 20px;

        div {
          max-width: 150px;
          flex: 0 0 auto;
          display: flex;
          align-items: start;
          gap: 4px;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;

          &.active {
            border-radius: 4px;
            background: #fff;
            font-weight: 600;
            padding: 6px 12px;
            margin: -6px 0;
          }
        }
      }
    }
  }
}

footer .custom-container {
  padding: 76px 112px 25px;
  background: #12174e;
  .footer-container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    .col-1 {
      flex: 0 0 30%;
    }
    .col-2 {
      flex: 0 0 20%;
    }
    .logo-footer {
      width: 200px;
    }
    h6 {
      color: #a6a9cd;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    h4 {
      color: #fff;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    ul {
      margin-top: 16px;
      li {
        a {
          color: #a6a9cd;
          &:hover {
            color: #fff;
          }
        }
        &:not(:first-child) {
          margin-top: 12px;
        }
      }
    }
  }
  .ft-copyright {
    margin-top: 50px;
    color: #a6a9cd;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    .copyright {
      display: inline-block;
      vertical-align: middle;
      margin: 0 2px;
    }
    .login-privacy {
      display: none;
    }
  }
}

body[page="employee_onboarding_new"] footer {
  text-align: left;
}

i {
  font-family: auto;
  box-sizing: initial;
}

@media (max-width: 768px) {
  .custom-container {
    .show-on-mobile {
      display: block !important;
    }

    .hide-on-mobile {
      display: none !important;
    }
    .search-form {
      width: 100%;
    }
  }
  header {
    .custom-container {
      padding-left: 20px;
      padding-right: 20px;
      justify-content: start;
      width: 100%;
      position: fixed;
      top: 0;
      .nav {
        margin-left: auto;
      }
      .login-section {
        margin-left: auto;
      }
      .nav__bar-btn {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-left: 10px;
      }
      .nav__pc {
        display: none;
      }
      .user {
        margin-left: auto;
      }
    }
  }
  main.custom-container {
    section section {
      padding: 0 10px;
    }
    .hero-banner {
      // margin-top: 0;
    }
    .sub-header {
      h2 {
        max-width: 235px;
      }
      h6 {
        max-width: 280px;
      }
      padding: 0 10px;
      gap: 24px;
    }
    .functions {
      padding: 0 10px;
    }
    .services {
      margin-top: 70px;

      .sr-container {
        padding: 32px 10px 40px;
        gap: 35px;
        .sr-list-container {
          .sr-list-items {
            margin-top: 20px;
            gap: 30px;
            .item {
              flex: 0 100%;
            }
          }
        }
        .sr-categories-mobile {
          display: flex;
        }
      }
    }

    .solutions {
      padding-top: 40px;
      padding-bottom: 40px;
      .solution-container {
        padding: 0 10px;
        margin-top: 32px;
        flex-direction: column;
        gap: 20px;
        .articles {
          .item {
            p {
              max-width: 270px;
            }
          }
        }

        .sr-categories-mobile {
          display: flex;
        }
      }
    }
  }
  footer .custom-container {
    padding: 40px 20px 25px;
    .footer-container {
      flex-direction: column;
      gap: 30px;
    }
  }
}

.ember-light-table {
  border: 1px solid #cfd7df;
  border-radius: 4px 4px 0 0;
  box-shadow: none;
  background: #fff;
  border-collapse: collapse;
  word-break: break-word;
  overflow: visible;
  width: 100% !important;
  position: relative;
}

.ember-light-table table {
  table-layout: fixed;
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: middle;
}

.ember-light-table thead.lt-head {
  background-color: #f5f7f9;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  z-index: 999;
}

.ember-light-table thead.lt-head th.lt-column {
  border-bottom: 1px solid #cfd7df;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  height: 48px;
  padding: 0 16px;
  text-align: left !important;
  text-transform: capitalize;
}

table thead.lt-head th.lt-column.po-number-header {
  border-right: 1px solid #cfd7df;
  padding-right: 16px !important;
}

.ember-light-table tbody.lt-body tr.lt-row:not(.is-selected):not(.selected) {
  background-color: #fff;
}

.ember-light-table tbody.lt-body tr.lt-row:not(:last-child) {
  border-bottom: 1px solid #ebeff3;
}

.ember-light-table tbody.lt-body tr.lt-row {
  height: 48px;
}

.ember-light-table tbody.lt-body tr.lt-row td.lt-cell:first-child {
  padding-right: 0;
  padding-left: 16px;
}

.ember-light-table tbody.lt-body tr.lt-row td.lt-cell {
  color: #12344d;
  height: 48px;
  font-size: 14px;
  padding: 0 16px;
  border-right: 1px solid transparent;
  vertical-align: middle;
}

.ember-light-table tbody.lt-body tr.lt-row:not(.is-selected):not(.selected):hover {
  background-color: #f5f7f9;
}

.ember-light-table tbody.lt-body select:not(:disabled) {
  border: 1px solid #7b8e9f;
}
.ticket-type-select {
  color: var(--textColor);
  font-family: var(--baseFont);
  font-size: 14px;
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 2px 8px;
  margin: 0;
  padding-right: 24px;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  background-image: url("https://www.svgrepo.com/show/80156/down-arrow.svg");
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: calc(100% - 14px);
}

.folder-view-container .related-folders {
  margin-top: 105px;
  border: none;
}

.solutions-home-container {
  max-width: 1440px;
  margin: 0 auto;
  .solutions-home-header {
    background-color: #fff;
    margin: 16px;
    margin-top: 40px;
  }
  .solutions-home-main-container {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin-left: 16px;
    .solutions-content-container {
      padding: 0 24px;
      border-left: none;
    }
  }
  #solutions-category-list-wrap-ele {
    background: rgb(238, 241, 246);
    padding: 24px;
    min-height: 300px;
    .solutions-category-list-nav {
      position: initial !important;
      width: auto !important;
      overflow: initial;
      .solutions-category-link {
        &.selected,
        &:hover {
          background-color: #fff;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .folder-view-container .related-folders {
    margin-top: 0;
  }
  body[page="article_list"] main .folder-view-container {
    margin-top: 40px;
  }
  .solutions-home-container {
    padding: 0;
    .solutions-home-main-container {
      display: initial;
      margin-left: 0;
    }
    #solutions-category-list-wrap-ele {
      background: none;
      padding: 0;
      min-height: 0;
    }
  }
}

#ticket-export-btn {
  display: none !important;
}

#leave-detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 8px 4px 8px -60px;
  .item {
    background-color: #fff;
    border-radius: 4px;
    padding: 8px;

    .date {
      font-weight: 600;
      font-size: 15px;
    }

    .note,
    .session {
      margin-top: 4px;
      color: $text_secondary;
      font-size: 14px;
    }
  }
}
