html {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

.app-body {
  padding: 1rem;
}

.map-container {
  height: 100%;
}

#initMap {
  height: 100%;
}

.popper,
.tooltip {
  position: absolute;
  z-index: 9999;
  background: rgb(47, 114, 246);
  color: #fff;
  max-width: 250px;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  text-align: center;
  font-size: 14px;
  margin-bottom: 5px;
}

.popper .popper__arrow,
.tooltip .tooltip-arrow {
  display: none;
}
